/* Você está importanto a font Crimson e a Nunito, mas só está utilizando a Nunito e a Arial */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-color: #8c52ff;
  /* ✅ Sempre ao dizer que a fonte é de uma família, garanta que tenha essa fonte disponível no seu projeto, na máquina do usuário ou precisa importar. Nesse caso, a fonte Arial é padrão em toda máquina. Mas se preocupe em importar quando não tiver certeza */
  font-family: "Arial";
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

div.card {
  width: 350px;
  height: 465px;
  background-color: #fff;
  border-radius: 25px;
  /* ✅ Esse margin top você usou para dar um espaçamento afastando do topo. Mas usamos margins quando queremos espaçar irmãos. Nesse caso, o ideal seria usar padding-top no elemento pai dos cards para dar um espaçamento interno */
  padding-top: 2px;
  margin-inline: 18px;
  /* ✅poderia usar no elemento pai do card um justify-content: center no lugar do margin-inline */
}

nav ul {
  list-style: none;
  padding-inline: 10px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
}

div.card-header img.logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

img.perfil {
  width: 150px;
  height: 147px;
  border-radius: 32px;
  border: solid 3px #fff;
  outline: solid 3px #7237c7;
  display: block;
  margin-inline: auto;
}

h2 {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}

h3 {
  color: #3a3939;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  font-family: "nunito";
  margin: 0;
  padding-top: 3px;
  padding-bottom: 10px;
}

/* ✅ Ao invés de usar margin negativa para aproximar mais esse texto do de cima, o ideal seria diminuir o margin-bottom do de cima para esse poder se aproximar mais e não ser necessário usar margin negativa */

span {
  color: #792cea;
  width: 100%;
  font-size: 35px;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

div.buttons button {
  background-color: #7626dd;
  color: #ffd2ff;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-family: "nunito";
  font-weight: 500;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 13px;
}

/* ✅ faltou a opção :hover */

div.buttons button:hover {
  background-color: #4f1897;
}

div.buttons button:active {
  background-color: #3b0f75;
}

.button-left {
  margin-left: 50px;
  margin-right: 13px;
}

div#container {
  display: flex;
/* ✅ Se o objetivo é centralizar o container com margin-inline, nesse caso caberia a propriedade auto. margin-inline: auto; */
  margin-inline: auto;
}

/* OBS: no geral, você está utilizando margins para centralizar ou ajustar posições dos elementos. Isso poderia ser feito com display flex com maior facilidade e que fique de forma responsiva */
/* estudar mais o display flex e entender melhor o box model. */
